{
	"type": "CFG-ITEM",
	"items": [
		{
			"key": "0x20910066",
			"value": 1,
			"layer": 2,
			"action": "Set",
			"valueType": "U1",
			"requestId": "d278e610-c4b4-47fe-864e-45d18c6fa228"
		},
		{
			"key": "0x20910066",
			"value": 1,
			"layer": 0,
			"action": "Set",
			"valueType": "U1",
			"requestId": "30957330-42c1-4984-a9f8-751182a08ae1"
		},
		{
			"key": "0x20910007",
			"value": 10,
			"layer": 2,
			"action": "Set",
			"valueType": "U1",
			"requestId": "aed7b178-0cb6-4390-a05e-85f72279694e"
		},
		{
			"key": "0x20910007",
			"value": 10,
			"layer": 0,
			"action": "Set",
			"valueType": "U1",
			"requestId": "9ec98d8f-6f2c-4c65-a5bc-08cb7d8c0c68"
		},
		{
			"key": "0x20910205",
			"value": 10,
			"layer": 2,
			"action": "Set",
			"valueType": "U1",
			"requestId": "af0fc858-ee5f-45d4-9ca2-675f9cd89d70"
		},
		{
			"key": "0x20910205",
			"value": 10,
			"layer": 0,
			"action": "Set",
			"valueType": "U1",
			"requestId": "c16f655b-646c-4964-be33-51eb9e644932"
		},
		{
			"key": "0x209102a5",
			"value": 10,
			"layer": 2,
			"action": "Set",
			"valueType": "U1",
			"requestId": "ee8f6f15-6a5c-4868-9a21-30595dc5d288"
		},
		{
			"key": "0x209102a5",
			"value": 10,
			"layer": 0,
			"action": "Set",
			"valueType": "U1",
			"requestId": "b250d141-41a5-42db-a6a6-bad4e79ee737"
		},
		{
			"key": "0x20910232",
			"value": 10,
			"layer": 2,
			"action": "Set",
			"valueType": "U1",
			"requestId": "bc947172-3b7a-4164-aec8-24f764d2fc7f"
		},
		{
			"key": "0x20910232",
			"value": 10,
			"layer": 0,
			"action": "Set",
			"valueType": "U1",
			"requestId": "9bbddff0-f0bc-42f7-b6da-9e7c9d4fe12d"
		},
		{
			"key": "0x20910179",
			"value": 10,
			"layer": 2,
			"action": "Set",
			"valueType": "U1",
			"requestId": "3477ee27-2690-4b6b-857a-be15937d6c76"
		},
		{
			"key": "0x20910179",
			"value": 10,
			"layer": 0,
			"action": "Set",
			"valueType": "U1",
			"requestId": "78400980-565f-48e6-97ce-1b51e5978992"
		},
		{
			"key": "0x2091017e",
			"value": 10,
			"layer": 2,
			"action": "Set",
			"valueType": "U1",
			"requestId": "10f39c93-668f-4e5a-9105-b8946f37d068"
		},
		{
			"key": "0x2091017e",
			"value": 10,
			"layer": 0,
			"action": "Set",
			"valueType": "U1",
			"requestId": "dc3780e0-ead0-4b81-a95a-944e3012c145"
		},
		{
			"key": "0x2011001c",
			"value": 3,
			"layer": 2,
			"action": "Set",
			"valueType": "E1",
			"requestId": "ddbb906f-866d-4640-a6e9-256e1dea9268"
		},
		{
			"key": "0x2011001c",
			"value": 3,
			"layer": 0,
			"action": "Set",
			"valueType": "E1",
			"requestId": "8c7c9385-2ff4-47e6-ad59-0d37a4524e9e"
		},
		{
			"key": "0x10110013",
			"value": 1,
			"layer": 2,
			"action": "Set",
			"valueType": "L",
			"requestId": "f679e822-365a-4eb6-8dcd-d3d4c9b35042"
		},
		{
			"key": "0x10110013",
			"value": 1,
			"layer": 0,
			"action": "Set",
			"valueType": "L",
			"requestId": "521db0f7-aa0f-4f16-ab4a-44ff7364ac29"
		},
		{
			"key": "0x20910048",
			"value": 10,
			"layer": 2,
			"action": "Set",
			"valueType": "U1",
			"requestId": "f3b09fd7-88a3-4a52-9b36-210f753b3fa2"
		},
		{
			"key": "0x20910048",
			"value": 10,
			"layer": 0,
			"action": "Set",
			"valueType": "U1",
			"requestId": "9dfe19ee-465f-43df-9047-a5051146ffd9"
		},
		{
			"key": "0x20910057",
			"value": 10,
			"layer": 2,
			"action": "Set",
			"valueType": "U1",
			"requestId": "bb93b64d-62ee-41e8-84d9-8e6c73dc0915"
		},
		{
			"key": "0x20910057",
			"value": 10,
			"layer": 0,
			"action": "Set",
			"valueType": "U1",
			"requestId": "2d7d3343-4cbf-4fdf-8df6-3f2b494639d2"
		},
		{
			"key": "0x2091005c",
			"value": 10,
			"layer": 2,
			"action": "Set",
			"valueType": "U1",
			"requestId": "02243cc3-83a8-4042-80a6-7e2fb75099f0"
		},
		{
			"key": "0x2091005c",
			"value": 10,
			"layer": 0,
			"action": "Set",
			"valueType": "U1",
			"requestId": "2e599595-f953-49a6-9bc7-a9102ddd8cd0"
		},
		{
			"key": "0x20910034",
			"value": 0,
			"layer": 2,
			"action": "Set",
			"valueType": "U1",
			"requestId": "e678dd78-736e-4adc-a887-7b7cada60f74"
		},
		{
			"key": "0x20910034",
			"value": 0,
			"layer": 0,
			"action": "Set",
			"valueType": "U1",
			"requestId": "93a1c94b-4259-4839-ab2b-144da7b6b3a9"
		},
		{
			"key": "0x209101b5",
			"value": 60,
			"layer": 2,
			"action": "Set",
			"valueType": "U1",
			"requestId": "d9019cb6-dce6-4286-8938-eb2b4c96566b"
		},
		{
			"key": "0x209101b5",
			"value": 60,
			"layer": 0,
			"action": "Set",
			"valueType": "U1",
			"requestId": "adfbf9e0-3b63-4fef-9122-54f367c804ef"
		},
		{
			"key": "0x209101ba",
			"value": 60,
			"layer": 2,
			"action": "Set",
			"valueType": "U1",
			"requestId": "a8f5b94b-325c-4a02-be5b-94f29c2476a0"
		},
		{
			"key": "0x209101ba",
			"value": 60,
			"layer": 0,
			"action": "Set",
			"valueType": "U1",
			"requestId": "d677d050-3813-44b3-8d4e-b63fa5068392"
		},
		{
			"key": "0x20910355",
			"value": 60,
			"layer": 2,
			"action": "Set",
			"valueType": "U1",
			"requestId": "d0c66b6a-9be0-41f0-a788-7964d48beb08"
		},
		{
			"key": "0x20910355",
			"value": 60,
			"layer": 0,
			"action": "Set",
			"valueType": "U1",
			"requestId": "605e349c-ef2f-4e45-8d64-720326a4ab43"
		},
		{
			"key": "0x2091035a",
			"value": 60,
			"layer": 2,
			"action": "Set",
			"valueType": "U1",
			"requestId": "6b5ce265-db65-4af2-af2b-0ef9c1ba1e7f"
		},
		{
			"key": "0x2091035a",
			"value": 60,
			"layer": 0,
			"action": "Set",
			"valueType": "U1",
			"requestId": "d5fd1a83-f613-4b67-a34a-6894b3841645"
		},
		{
			"key": "0x2091038c",
			"value": 60,
			"layer": 2,
			"action": "Set",
			"valueType": "U1",
			"requestId": "c3344674-37df-4320-8313-a066eecfc490"
		},
		{
			"key": "0x2091038c",
			"value": 60,
			"layer": 0,
			"action": "Set",
			"valueType": "U1",
			"requestId": "70d91cd8-fc28-433a-957f-d2cbf27e69d1"
		},
		{
			"key": "0x2091069e",
			"value": 60,
			"layer": 2,
			"action": "Set",
			"valueType": "U1",
			"requestId": "bc917561-e981-4cab-8bfa-4db0ae6978b9"
		},
		{
			"key": "0x2091069e",
			"value": 60,
			"layer": 0,
			"action": "Set",
			"valueType": "U1",
			"requestId": "a41eddfc-d67a-4b55-a0f9-7473accd4912"
		},
		{
			"key": "0x40520001",
			"value": 115200,
			"layer": 2,
			"action": "Set",
			"valueType": "U4",
			"requestId": "c8e8c760-d8b3-45f4-864e-badc78429656"
		},
		{
			"key": "0x40520001",
			"value": 115200,
			"layer": 0,
			"action": "Set",
			"valueType": "U4",
			"requestId": "4e3194a1-fbea-4810-8653-d56b4c1b5af3"
		},
		{
			"key": "0x2005000c",
			"value": 1,
			"layer": 2,
			"action": "Set",
			"valueType": "E1",
			"requestId": "9c8717d5-d77a-4fb9-94f7-8c986d3420c8"
		},
		{
			"key": "0x2005000c",
			"value": 1,
			"layer": 0,
			"action": "Set",
			"valueType": "E1",
			"requestId": "1115416d-39f1-46c9-9cca-da878c52c4a8"
		}
	]
}